{% extends "base.html" %}
{% block title %}Doctor Signup{% endblock title %}
{% block content %}
<div class="container">
 <h2>Sign-up as Doctor  </h2>
 {% if requestSend %}
    <br>
     <div class="card text-white bg-warning mb-12" >

  <div class="card-body">
    <h5 class="card-title">   {{requestSend}}</h5>
      </div>
</div>
     <br>
     {% endif %}

  <form  method="post">{% csrf_token %}
 <div class="form-group">
      <label for="email">User Name:</label>
     {% if error %}
     <div class="card text-white bg-danger mb-12" >

  <div class="card-body">
    <h5 class="card-title">   {{error}}</h5>
      </div>
</div>
     <br>
     {% endif %}

      <input type="text" class="form-control" id=" " placeholder="Enter User Name" name="username">
    </div>
    <div class="form-group">
      <label for="email">First Name:</label>
      <input type="text" class="form-control" id=" " placeholder="Enter First Name" name="firstname">
    </div>
    <div class="form-group">
      <label for="email">Last Name:</label>
      <input type="text" class="form-control" id=" " placeholder="Enter Last Name" name="lastname">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="" placeholder="Enter Email" name="email">
    </div>
    <div class="form-group">
      <label for="email">Clinic Name:</label>
      <input type="text" class="form-control" id="email" placeholder="Enter Clinic Name" name="clinicname" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
     <div class="form-group">
      <label for="sel1">Select Gender:</label>
      <select class="form-control" id="sel1" name="sellist1">
        <option>Female</option>
        <option>Male</option>

      </select>
        </div>

    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
<br>
<br>

{% endblock %}