{% extends "base.html" %}
{% block title %}appointment{% endblock title %}
{% block content %}

{% if user.is_authenticated %}
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".myTable h4").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<br>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class=""></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" id="myInput" placeholder="Search for Patient">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <!--<button class="btn btn-lg btn-success" type="submit">Search</button>-->
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
<div class="container">
    <br>
          <button type="button" class="btn btn-success" onclick="window.location.href='/appointments_form/'">Make Appointments</button>
<br>
<br>

          <button type="button" class="btn btn-danger" onclick="window.location.href='/apointmenttable/'">Registered Appointments</button>

    <div class="row">


    {% if appointments %}

        {% for obj in appointments %}

    <!--<p></p>-->
      <!--<p>{{obj.symptoms}}</p>-->
    <!--<p></p>-->
        <div class='col-sm-4 mt-5'>
<div class="card" >
    <div class="card-body myTable" >
        {% if obj.Gender == Male %}
               <img class="card-img-bottom" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
{% else %}
                       <img class="card-img-bottom" src="https://www.w3schools.com/bootstrap4/img_avatar5.png" alt="Card image" style="width:100%">

{% endif %}

        <hr>
      <h4 class="card-title text-capitalize">{{obj.first_name}} {{obj.last_name}}</h4>
      <a href="#" class="btn btn-primary">{{obj.Gender}}</a>
<hr>
        <p><strong>Phone Number : </strong> {{obj.phone_num}}</p>
        <p class="card-text"><strong>Email : </strong>{{obj.email}}  <p><strong>Message : </strong> {{obj.Msg}}</p>
        {% if obj.address %}
         <p><strong>Address: </strong> {{obj.address}}</p>

        {%endif%}

        </p>
    </div>
  </div>
        </div>
    {% endfor %}
        {% else %}
        <br>
 <div class="card text-white bg-warning mb-12" >

  <div class="card-body">
    <h5 class="card-title">   No Appointments</h5>
      </div>
</div>
     <br>
           {%endif%}

</div>


</div>
<br>
{% else %}
    {% include 'Doctor/error.html' %}
 {% endif %}
{% endblock %}