{% extends "base.html" %}
{% block title %}Visits{% endblock title %}
{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <br>

    <div class="row">

        {% for obj in patients %}

    <!--<p></p>-->
      <!--<p>{{obj.symptoms}}</p>-->
    <!--<p></p>-->
        <div class='col-sm-4 mt-5'>
<div class="card" >
    <div class="card-body">
        {% if obj.patient.Gender == Male %}
               <img class="card-img-bottom" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
{% else %}
                       <img class="card-img-bottom" src="https://www.w3schools.com/bootstrap4/img_avatar5.png" alt="Card image" style="width:100%">

{% endif %}

        <hr>
      <h4 class="card-title text-capitalize">{{obj.patient.first_name}} {{obj.patient.last_name}}</h4>

        <p><strong>Phone Number : </strong> {{obj.patient.phone_num}}</p>
        <p class="card-text"><strong>Symptoms : </strong>{{obj.symptoms}}  <p><strong>Symptoms Medicine : </strong> {{obj.symptomsMedicine}}</p>
        {% if obj.extraMediceine %}
         <p><strong>More Medicine : </strong> {{obj.extraMediceine}}</p>
        {% else %}
         <p><strong>More Medicine : </strong> Not recommended</p>
        {%endif%}
        </p>
      <a href="#" class="btn btn-primary">{{obj.patient.Gender}}</a>
    </div>
  </div>
        </div>
    {% endfor %}
</div>


</div>
<br>
{% else %}
    {% include 'Doctor/error.html' %}
 {% endif %}
{% endblock %}