{% extends "base.html" %}
{% block title %}Visits{% endblock title %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#mytable #names").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% if user.is_authenticated %}
<div class="container">
    <br>

<br>


    <div class="row">

        {% for obj in patients %}

    <!--<p></p>-->
      <!--<p>{{obj.symptoms}}</p>-->
    <!--<p></p>-->
        <div class='col-sm-4 mt-5'>
<div class="card" >
    <div class="card-body" id="mytable">
        {% if obj.patient.Gender == Male %}
               <img class="card-img-bottom" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
{% else %}
                       <img class="card-img-bottom" src="https://www.w3schools.com/bootstrap4/img_avatar5.png" alt="Card image" style="width:100%">

{% endif %}

        <hr>
      <h4 class="card-title text-capitalize" id="names" >{{obj.patient.first_name}} {{obj.patient.last_name}}</h4>
      <a href="#" class="btn btn-primary">{{obj.patient.Gender}}</a>
<hr>
        <p><strong>Phone Number : </strong> {{obj.patient.phone_num}}</p>
        <p class="card-text"><strong>Symptoms : </strong>{{obj.symptoms}}  <p><strong>Symptoms Medicine : </strong> {{obj.symptomsMedicine}}</p>
        {% if obj.extraMediceine %}
         <p><strong>More Medicine : </strong> {{obj.extraMediceine}}</p>
        {% else %}
         <p><strong>More Medicine : </strong> Not recommended</p>
        {%endif%}
              <span class="badge badge-info"><i class="fa fa-calendar"></i><strong>&nbsp&nbspTime Date : </strong> {{obj.created_at}}</span>

        </p>
    </div>
  </div>
        </div>
    {% endfor %}
</div>


</div>
<br>
{% else %}
    {% include 'Doctor/error.html' %}
 {% endif %}
{% endblock %}